<!doctype html>
<html class="no-js" lang="en">

<!-- Head
		============================================= -->
{% include "head.html" %}

<body>

    <!-- Loading Bar Start -->
    <div id="loading-wrap">
        <div class="loading-effect"></div>
    </div>
    <!-- Loading Bar End -->

    <!-- Header
		============================================= -->
    {% include "header.html" %}

	<!-- Slider Section Start -->
	<div class="slider-area slider-three slider-bg-3">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="slider-text ptb-275">
						<h1 class="font-50 mb-5 white-color">Hello <br /> I Am Valentin Piho </h1>
						<p>I am a Junior Full-stack Web Developer <br />
							Feel free to check out my articles, projects and blog posts <br />
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Slider Section End -->

    <!-- Content
        ============================================= -->
    {% block content %}
    {% endblock content %}
    
    <!-- Footer
		============================================= -->
    {% include "footer.html" %}

    <!-- JS Scripts 
    ============================================= -->
    {% include "scripts.html" %}

</body>
</html>