<footer class="footer white-bg ptb-20 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="left pull-left">
                    <p>Copyright &copy; 2020 <a href="https://pibox.ee" target="_blank">Pibox</a>.</p>
                </div>
                <div class="social-icon simple pull-right">
                    <ul class="clearfix">
                        <li><a href="https://github.com/piboxee" target="_blank"><i class="zmdi zmdi-github"></i></a></li>
                        <li><a href="https://www.facebook.com/valentin.piho" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/valentin-piho-080847180/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/val.piho/" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>