{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MiniPo is a Minimal Portfolio Template">
    <meta name="keywords" content="mininal , Personal portfolio template, Personal portfolio, Minimal personal, material design, portfolio, personal">
    <meta name="author" content="regaltheme.com">

    <title>Pibox || Valentin Piho</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/img/favicon.ico" %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- modernizr js -->
    <script src="{% static "assets/js/vendor/modernizr-2.8.3.min.js" %}"></script>

</head>