{% extends "base.html" %} {% load static %} {% block content %}

	<!-- Services Section Start -->
	<div class="service-area service-one white-bg section-padding">
		<div class="container">
			<div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-devices"></i>
                        <div class="media-body">
							<h5>Front-end development</h5>
							<hr class="line">
							<p>HTML, CSS, Javascript with React and Bootstrap to build fast, interactive websites.</p>
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <div class="media-body">
							<h5>Back-end development</h5>
							<hr class="line">
							<p>With Python and Django it is easy to build unique websites and large scale products.</p>
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-filter-center-focus"></i>
                        <div class="media-body">
							<h5>Software development</h5>
							<hr class="line">
							<p>Python or Java will make it possible to create everything from scratch.</p>
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-devices"></i>
                        <div class="media-body">
							<h5>E-commerce</h5>
							<hr class="line">
							<p>Prestashop or Woocommerce will be ideal for you online business.</p>
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <div class="media-body">
							<h5>CMS for bussines</h5>
							<hr class="line">
							<p>Wordpress could fulfill all your needs for business growth.</p>
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-filter-center-focus"></i>
                        <div class="media-body">
							<h5>SEO</h5>
							<hr class="line">
							<p>Don't know how to stay alive on the Internet. I will help to promote your source.</p>
						</div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- Services Section End -->
    
    <div class="light-bg section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
                    <div class="section-title pb-80">
                        <h2>Hire Me</h2>
                        <p>So are you looking for a professional, communicative & punctual software engineer with extensive web development skills? <br />
                            If you have an application you are interested in developing, a problem that needs solving or a project that needs rescuing, I'd love to help you with it. </p>
                            <br />
                        <a href="javascript:viod(0)" class="btn" >Hire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}