{% extends "base.html" %} {% load static %} {% block content %}

    <!-- Slider Section Start -->
	<div class="slider-area slider-three slider-bg-3">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="slider-text ptb-275">
						<h1 class="font-50 mb-5 white-color">Hello <br /> I Am Valentin Piho </h1>
						<p>I am a Junior Full-stack Web Developer <br />
							Feel free to check out my articles, projects and blog posts <br />
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Slider Section End -->
    
	<!-- Services Section Start -->
	<div class="service-area service-one white-bg section-padding">
		<div class="container">
			<div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-50 mobile-mb-30">
                    <div class="single-service">
                        <i class="zmdi zmdi-devices"></i>
                        <div class="media-body">
							<h5>Front-end development</h5>
							<hr class="line">
							<p>HTML, CSS, Javascript with React and Bootstrap to build fast, interactive websites.</p>
						</div>
                    </div>
                    <div class="single-service mt-20">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <div class="media-body">
							<h5>Back-end development</h5>
							<hr class="line">
							<p>With Python and Django it is easy to build unique websites and large scale products.</p>
						</div>
                    </div>
                    <div class="single-service mt-20">
                        <i class="zmdi zmdi-filter-center-focus"></i>
                        <div class="media-body">
							<h5>Software development</h5>
							<hr class="line">
							<p>Python or Java will make it possible to create everything from scratch.</p>
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 mb-50 mobile-mb-30">
                    <div class="text">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority havfered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassihidden in the middle of text. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, Latin professor at Hampden-Sydney College in Virginia,</p>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- Services Section End -->
    
    <div class="light-bg section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
                    <div class="section-title">
                        <h2>Hire Me</h2>
                        <p>So are you looking for a professional, communicative & punctual software engineer with extensive web development skills? <br />
                            If you have an application you are interested in developing, a problem that needs solving or a project that needs rescuing, I'd love to help you with it. </p>
                            <br />
                        <a href="{% url 'contact' %}" class="btn" >Hire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}