    {% load static %}
    <!-- jQuery Latest Version -->
    <script src="{% static "assets/js/vendor/jquery-1.12.4.min.js" %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <!-- Isotope -->
    <script src="{% static "assets/js/isotope.pkgd.js" %}"></script>
    <!-- Validate -->
    <script src="{% static "assets/js/jquery.validate.min.js" %}"></script>
    <!-- Slick Slider JS -->
    <script src="{% static "assets/js/slick.min.js" %}"></script>
    <!-- Plugins JS -->
    <script src="{% static "assets/js/plugins.js" %}"></script>
    <!-- main JS -->
    <script src="{% static "assets/js/main.js" %}"></script>